@charset "UTF-8";
*, h1, h2, h3, h4, h5, h6, p, ul, a {
  margin: 0;
  padding: 0;
}

*,
*:before *:after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

* {
  background: #191D26;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: #fff;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: Helvetica;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.body {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

p, a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu {
  background: #191D26;
  position: fixed; /* Фиксированное положение */
  padding: 5px; /* Поля вокруг текста */
  width: 100vw;
  max-height: 70px;
  z-index: 5;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 1%;
}
.menu ul {
  display: flex;
  justify-content: center;
  justify-self: center;
  font-family: Helvetica;
}
.menu li {
  list-style: none;
  padding: 10px;
}
.menu li a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  position: relative;
  padding: 5px;
}
.menu li a i {
  margin-right: 10px;
}
.menu li a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 90%;
  left: 0;
  transition: 0.4s;
}
.menu li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 90%;
  right: 0;
  transition: 0.4s;
}
.menu li:hover {
  background-color: none;
}
.menu li:hover a::before {
  width: 50%;
  transform: translateX(100%);
}
.menu li:hover a::after {
  width: 50%;
  transform: translateX(-100%);
}
.menu li a:hover {
  color: grey;
}

.login-btn {
  border: 2px solid #ffffff;
  text-decoration: none;
  align-self: center;
  font-size: 18px;
  color: #fff;
  padding: 0.2% 0.5%;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  justify-self: end;
}
.login-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  text-align: center;
}
.text__header {
  color: white;
  text-align: center;
  font-size: 42pt;
  font-family: Helvetica;
}
.text__subheader {
  color: white;
  font-family: Helvetica;
  font-size: 12pt;
  text-align: center;
}

.container {
  display: flex;
  text-align: center;
  padding-top: 8%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/*кнопки*/
.btn__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 65px;
  max-width: 330px;
  gap: 5%;
  justify-content: space-around;
}
.btn__wrapper .btn {
  padding: 3% 5%;
  justify-content: center;
}

.btn-try {
  width: 40%;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  background: rgb(70, 81, 250);
  border: 3px solid rgb(70, 81, 250);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  transition: all 0.1s;
}
.btn-try:hover {
  background-color: rgb(56, 66, 209);
  color: rgb(168, 168, 168);
  border: 3px solid rgb(56, 66, 209);
}

.btn-learn {
  width: 40%;
  border: 3px solid #ffffff;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  transition: all 0.1s;
}
.btn-learn:hover {
  background-color: #fff;
  color: #333;
}

.bottom-elements {
  position: relative;
  height: 100%;
  width: 100%;
}
.bottom-elements::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(25, 29, 38, 0) 0.01%, #191D26 66.15%);
}

.bottom-img {
  display: block;
  height: 100%;
  max-height: fit-content;
  overflow: hidden;
}

/*second page*/
.container2 {
  display: flex;
  align-items: center;
  padding: 62px 50px;
  position: static;
  flex: 0 0 auto;
  justify-content: space-between;
  /* Картинки */
}
.container2__images {
  display: flex;
  width: 50%;
}

.section-2 {
  /* text */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.section-2__text {
  color: white;
  text-align: center;
  font-family: helvetica;
  text-align: center;
  width: 50%;
}

.section-header {
  text-align: center;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.section-subheader {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
}

.chat-bot {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  z-index: 1;
}

.chart-1 {
  position: absolute;
  width: 32%;
  z-index: 2;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0));
  transform: translate(60%, 120%);
  background: none;
}

.icon__items {
  color: white;
  display: flex;
  flex-direction: column;
}
.icon__item {
  padding-top: 10%;
}
.icon__maintext {
  display: flex;
  gap: 14px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.icon__subtext {
  padding-top: 6%;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}
.icon__image {
  display: inline-block;
}

/* page 3 */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 199px;
}

.contents {
  position: static;
  width: 985px;
  height: 854.52px;
  left: calc(50% - 492.5px);
  top: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: relative;
  width: 985px;
  height: 648.52px;
  left: 0px;
  top: 55px;
}

.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  position: static;
  width: 476px;
  height: 647px;
  left: 509px;
  top: 0.76px;
  /* light background */
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  /* shadow */
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 3px;
}

.board-notifications {
  position: absolute;
  width: 379px;
  height: 276px;
  left: 58.5%;
  top: 300px;
  background: none;
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  border-radius: 12px;
  /* Inside Auto Layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 30px 0px;
}

.card1__heading {
  background: rgb(255, 255, 255);
}

.card1-header {
  text-decoration: none;
  text-align: center;
  /* Title */
  font-family: Helvetica;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  letter-spacing: 0.1px;
  /* first text */
  color: #000000;
  background: rgb(255, 255, 255);
}

.card1-paragraph {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5C5C5C;
  background: rgb(255, 255, 255);
  padding-top: 6%;
}

.card__btn_Try {
  width: 190px;
  height: 52px;
  position: absolute;
  left: 68%;
  top: 28%;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  background: rgb(70, 81, 250);
  border: 3px solid rgb(70, 81, 250);
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  border-radius: 12px;
  background: rgb(70, 81, 250);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  transition: all 0.1s linear, color 0.1s linear;
}

.card__btn_Try:hover {
  background-color: rgb(56, 66, 209);
  color: rgb(168, 168, 168);
  border: 3px solid rgb(56, 66, 209);
}

/* card 2 */
.card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  position: static;
  width: 476px;
  height: 648.52px;
  left: 0px;
  top: 0px;
  /* light background */
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  /* shadow */
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 23px;
}

.card__btn_signup {
  width: 157px;
  height: 52px;
  position: absolute;
  left: 18%;
  top: 28%;
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  background: rgb(70, 81, 250);
  border: 3px solid rgb(70, 81, 250);
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  border-radius: 12px;
  background: rgb(70, 81, 250);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  transition: all 0.1s linear, color 0.1s linear;
}

.card__btn_signup:hover {
  background-color: rgb(56, 66, 209);
  color: rgb(168, 168, 168);
  border: 3px solid rgb(56, 66, 209);
}

.macbook {
  position: relative;
  top: -140%;
  background: none;
}

.macbook__screen-mask {
  position: absolute;
  width: 312.33px;
  height: 195.18px;
  left: 81.84px;
  top: 391.13px;
  background: url(./img/section2/SCREEN_MASK.png);
}

.macbook__grip {
  position: absolute;
  width: 54.16px;
  height: 5.02px;
  left: 212.82px;
  top: 595.44px;
  background: #9FA2A5;
}

.macbook__base-bottom {
  position: absolute;
  width: 405.12px;
  height: 4.72px;
  left: 35.44px;
  top: 603.81px;
  background: #9FA2A5;
}

.macbook__base {
  position: absolute;
  width: 405.12px;
  height: 8.37px;
  left: 35.44px;
  top: 595.44px;
  background: #D8D8D8;
}

.macbook__screen {
  position: absolute;
  width: 330.58px;
  height: 222.42px;
  left: 72.71px;
  top: 382px;
  background: #000000;
  border: 1.52131px solid #9FA2A5;
  box-sizing: border-box;
  border-radius: 4.56393px 4.56393px 0px 0px;
}