.testimonials {

    &__wrapper
    {
        padding: 5% 0;
    }
}
.testimonial {
    p{
        color: #fff;
        background: none;
    }

    &__items {
        display: grid;
        grid-template: repeat(auto-fit, minmax(150px, 1fr))/ 1fr 1fr;
        gap: 22px;
    }

    &__card {
        background:#1D2129;
        border: 1px solid #dedede;
        border-radius: 10px;
        padding: 10%;
        height: fit-content;
        &-1 {
           padding: 5%;
        }
        &-2 {
        }
        &-3 {
            padding: 5%;
            margin-top: -10%;
            max-width: 100%;
        }
        &-4 {
        }
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.2px;
    }
}
.testimonial-client {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    &__avatar {
        display: flex;
        column-gap: 15px;

        img{
            background: none;
        }
    }

    &__text {
    font-weight: 400;
    }
}

