.features {
width: 100%;
display: flex;
justify-content: center;

    &__wrapper
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    padding: 3%;
    gap: 86px;

    max-width: 1219px;
    max-height: 370px;
    width: 100%;
    height: 100%;
    background: #353535;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
    border-radius: 33px;

    }
    &__right {
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &__paragraph {
    }
    .btn-try {
        justify-content: center;
    }
}
.btn {
}

