.menu{
    background-color: rgb(24, 24, 24);
    position: fixed; /* Фиксированное положение */
    padding: 5px; /* Поля вокруг текста */         
    width: 100vw;
    max-height: 70px;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 1%;

    ul{
        display: flex;
        justify-content: center;
        justify-self: center;
        background-color: rgb(24, 24, 24);
        font-family: Helvetica;

       }

       li{
        list-style: none;
        padding: 10px;
       }
       li a{
        text-decoration: none;
        font-size: 18px;
        color: rgb(255, 255, 255);
        position: relative;
        padding: 5px;
       }
       li a i{
        margin-right: 10px;
       }
       li a::before{
        content: '';
        width: 0;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        top: 90%;
        left: 0;
        transition: .4s;
       }
       li a::after{
        content: '';
        width: 0;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        top: 90%;
        right: 0;
        transition: .4s;
       }
       li:hover{
        background-color: none;
       }
       li:hover a::before{
        width: 50%;
        transform: translateX(100%);
       }
       li:hover a::after{
        width: 50%;
        transform: translateX(-100%);
       }
       li a:hover{
        color: grey;
       }
   }

   .login-btn {
    border: 2px solid #ffffff;
    text-decoration: none;
    align-self: center;
    font-size: 18px;
    color: #fff;
    padding: 0.2% 0.5%;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    justify-self: end;

    &:hover {
        color: #000000;
        background-color: #ffffff;   
        
    }
}
