header
{
    max-width: 100vw;
    max-height: 70px;
    width: 100%;
    height: 100%;
    background: #191D26;
    position: fixed; /* Фиксированное положение */
    padding: 5px; /* Поля вокруг текста */ 
    display: flex;
    justify-content: center;       
    z-index: 5; 
}
.menu{ 
    width: 70%;
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    gap: 10%;
    padding-left: 21%;

    ul{
        display: flex;
        justify-self: flex-end;
        font-family: Helvetica;
       }

       li{
        list-style: none;
        padding: 10px;
       }
       li a{
        text-decoration: none;
        font-size: 18px;
        color: rgb(255, 255, 255);
        position: relative;
        padding-top: 5px;
       }
       li a i{
        margin-right: 10px;
       }
       li a::before{
        content: '';
        width: 0;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        top: 90%;
        left: 0;
        transition: .4s;
       }
       li a::after{
        content: '';
        width: 0;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        top: 90%;
        right: 0;
        transition: .4s;
       }
       li:hover{
        background-color: none;
       }
       li:hover a::before{
        width: 50%;
        transform: translateX(100%);
       }
       li:hover a::after{
        width: 50%;
        transform: translateX(-100%);
       }
       li a:hover{
        color: grey;
       }
   }
  .btn-wrapper
  {
    display: flex;
    text-align: center;
    width: fit-content;
    width: 100%;
  } 

   .login-btn {
    border: 2px solid #ffffff;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 4% 0%;
    width: 100%;
    max-width: 140px;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    background: #191D26;

    &:hover {
        color: #000000;
        background-color: #ffffff;   
        
    }
}
.burger-btn{
    display: none;
  }
  .header-btn__wrapper{
    width: 100%;
  }
