/*second page*/
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 50px;
    
    position: static;
    width: 1579px;
    height: auto;
    left: 0px;
    top: 0px;
    /* dark background */
    background: #181818;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 100px 0px;
    }
    /* text */
    .section__text
    {
        color: white;
        text-align: center;
        font-family: helvetica;
        text-align: center;
        margin-top: 5%;
    }
    .section-header
    {
        position: relative;
        text-align:center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: normal;
        font-style: normal;
        font-weight: normal;
        font-size: 52px;
        line-height: 62px;
        letter-spacing: 0.2px;
        text-transform:uppercase;
    }
    .section-subheader
    {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    text-align: center;
    letter-spacing: 0.2px;
    display:flex;
    align-items: center;
    }
    /* Картинки */
    .images-sec1
    {
      top: 0;
      left: 0;
      transform: scale();
      margin-top: -8%;
    }

    
.imgChatBot{  
    position:static;
    width: 40%;
    left: 0;
    top: 0; 
    /* shadow */
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    z-index: index 1;
    }
.imgChart1
{
    position:static;
    top: 50%;
    left: 50%;
    margin-left: -15%;
    margin-bottom: -5%;
    width: 23%;
    z-index: index 2;

    /* shadow */
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0));
}
.icon
{
    margin-left: 35%;
    margin-top: -37%;
    color: white;
    font-family: helvetica;
}

.icon__item
{
    padding-top: 10%;
}
.icon__maintext{
    margin-left: 14%;
    margin-top: -7%;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
/* or 150% */

letter-spacing: 0.1px;
}
.icon__subtext
{
    padding-top: 6%;
  margin-left: 15%;
    font-size: 16px;
    line-height: 24px;
    opacity: .9;
}
