/* page 5 */
.section3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    width: 100%;
    padding: 7% 0;
}
.btn-black{
    background: #191D26;
}
.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 4%;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    a>img{
        height: 100%;
        width: 100%;
    }
}
