
   .text {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1920px;
    text-align: center;

    &__header {
        color: white;
        text-align: center;
        font-size: 42pt;
        font-family: Helvetica;
    }
    &__subheader {
        color: white;
        font-family: Helvetica;
        font-size: 12pt;
        text-align: center;
    }
    
}

.container
{
    display: flex;
    text-align: center;
    padding-top: 8%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
/*кнопки*/
.btn__wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 65px;
    max-width: 330px; 
    gap: 5%;
    justify-content: space-around;
    .btn{
        padding: 3% 5%;
        justify-content: center;
    }
}
.btn-try {
    width: 40%;
    color: #ffffff;
    background: rgb(70, 81, 250);
    border: 3px solid rgb(70,81,250);
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    &:hover {
        background-color: rgb(56, 66, 209);;
        color: rgb(168, 168, 168);
        border: 3px solid rgb(56,66,209);
       }
   }
   
.btn-learn {
    width: 40%;
}


.bottom-elements
{
    position: relative;
    height: 100%;
    width: 100%;
    &::before{
        content: '';
        position: absolute;
        display: block;
        z-index: 2;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #00000000 0%, #191d2600 0.01%, #191D26 66.15%);
    }
}
.bottom-img
{
    display: block;
    height: 100%;
    width: 100%;
    max-height: fit-content;
    overflow: hidden;

}
