/* page 4 */
.section2 {
    padding: 5% 10%;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


		&__items {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 25%;
            column-gap: 33px;
            row-gap: 44px;
            justify-content: center;
            align-items: center;
            padding: 4% 0;
		}
        &__item{
            display: block;
            width: 20%;
            align-self: center;
            justify-self: center;
            // place-self: center;
            img{
                width: 100%;
                border-radius: 12px;
                overflow: hidden;
            }

        }
}
.item-5, .item-7{
    width: 35%;
    img{
        height: 100%;
    }

}


