*, h1,h2,h3,h4,h5,h6,p,ul,a{
    margin: 0;
    padding: 0;
}
*,
*:before
*:after{
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
*{
    background-color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
}

@import '_header', '_section1';
// , '_section2','_section3','_section4','_section5','_footer'

@import '_responsive';